.Threecontainer {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.left-section,
.right-section {
	flex: 0 0 50px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.center-section {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.right-section {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.left-section {
	height: 1060px;
}

.personal-info {
	width: 100px;
	height: 100px;
	background-color: #3498db;
}

.widget {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #2ecc71;
}

.article {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #e74c3c;
}

.Threecontainer a {
	text-decoration: none;
	color: black;
}

.Threecontainer a:hover {
	color: chocolate;
}

.Threecontainer a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: transparent;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.Threecontainer a:hover::before {
	transform: scaleX(1);
	background-color: #ccc;
}

.Three-news-container {
	border: 1px solid #ddd;
	padding: 20px;
	margin: 5px;
	border-radius: 8px;
	/* max-width: 300px; */
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #f0f0f0;
}

.Three-news-item {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}


.Three-news-item h2 {
	margin-bottom: 8px;
}

.Three-news-item p {
	margin-bottom: 0;
}